<li id="post-<%= post._id %>">
    <div id="post">
        <% if (locals.user && locals.user.id == post.user.id){ %>
            <small id="delete">
                 <a class="delete-post-button"  href="/posts/destroy/<%= post.id %>">Delete Post</a>
            </small>
            <% } %>
                <span id="content">
                      <%= post.content %>
                </span>
                <br>
                <small id="name">
                        <%= post.user.name %>
                    </small>
                <div id="post-user-img-container">
                    <img style="color:whitesmoke; font-size: small; text-align: center; " src="<%=post.user.avatar%>" alt="<%=post.user.name%>" width="70" height="70">
                </div>

                <!-- CHANGE :: display the likes of this post, if the user is logged in, then show the link to toggle likes, else, just show the count -->
                <br>
                <!-- study about the data attribute -->
                <small>
            <% if (locals.user){ %>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                        <%= post.likes.length %> Likes
                </a>
            <% }else{ %>
                <p class="toggle-like-button-offline">
                    <%= post.likes.length %> Likes 
                </p>
            <% } %>
        </small>

    </div>
    <div class="post-comments">
        <h4>Comments</h4>
        <% if (locals.user){ %>
            <!-- let's give an id to the new comment form, we'll also need to make the same changes in home_posts.js where we're adding a post to the page -->
            <form class="new-comment-form" id="post-<%= post._id %>-comments-form" action="/comments/create" method="POST">
                <input id="comment" type="text" name="content" placeholder="Type Here to add comment..." required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add Comment" id="comment-btn">
            </form>

            <% } %>

                <div class="post-comments-list">
                    <ul id="post-comments-<%= post._id %>">
                        <% for (comment of post.comments){%>

                            <%- include('_comment') -%>


                                <%} %>
                    </ul>
                </div>
    </div>

</li>