<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #main-heading {
            text-align: center;
            font-size: 2rem;
            margin-top: 2%;
        }
        
        #heading1 {
            margin-left: 29%;
            font-size: 2rem;
        }
        
        * {
            font-weight: 500;
            font-family: sans-serif;
        }
        
        button {
            transition-duration: 0.4s;
        }
        
        button:hover {
            background-color: skyblue;
            color: white;
        }
        
        button {
            border-radius: 8px;
            font-size: 1.5rem;
            padding: 8px;
            cursor: pointer;
            border: 2px solid skyblue;
            background-color: white;
            font-weight: 700;
        }
        
        form {
            margin-left: 28%;
            margin-bottom: 5%;
            display: inline-block;
        }
        
        #container1 {
            margin: auto;
            width: 95%;
            height: 60%;
            background-color: #f1f3f8;
        }
        
        #container2 {
            border-radius: 5px;
            border: 2px solid #d6e0f0;
            margin: 0 auto;
            /* padding: 3%; */
            padding-left: 2%;
            padding-right: 1%;
            background-color: #d6e0f0;
            width: 50%;
            height: 80%;
        }
        
        @media screen and (max-width:800px) {
            #main-heading {
                position: relative;
                top: 2%;
                margin-top: 3%;
            }
            * {
                font-size: 1rem;
            }
            #heading1 {
                margin-top: -2%;
                margin-left: 20%;
            }
            #heading1>p {
                font-weight: 600;
                font-size: 1.5rem;
            }
            #container2 {
                overflow-wrap: break-word;
                position: relative;
                top: -2%;
                width: 85%;
                height: 75%;
                margin-bottom: 10%;
                padding-right: 1.5%;
                padding-bottom: 2%;
            }
            button {
                border-radius: 8px;
                font-size: 1rem;
                padding: 4px;
                cursor: pointer;
                border: 2px solid skyblue;
                background-color: white;
                font-weight: bold;
            }
            form {
                margin-left: 20%;
            }
        }
    </style>
</head>

<div id="container1">

    <p id="main-heading">Codeial</p>
    <div id="container2">
        <div id="heading1">
            <p>
                Password Reset
            </p>
        </div>
        <p>Hi
            <%= user.name%>!</p>
        <p>Seems like you forgot your password for Codeial. If this is true, click below to reset your password.</p>

        <form action="http://localhost:8000/users/reset-password/:<%=user.id%>" method="POST">
            <input type="hidden" name="email" value="<%=user.email%>">
            <input type="hidden" name="name" value="<%=user.name%>">
            <input type="hidden" name="id" value="<%=user._id%>">
            <button type="submit">Reset My Password</button>
        </form>
        <p>If you did not forgot your password you can safely ignore this email.</p>
        <p>We also love hearing from you and helping you with any issues you have. Please reply to this email if you want to ask a question or to just say hi.</p>
    </div>
</div>